<%= form_for(@collection) do |f| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% @collection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :product1_id %><br>
    <%= f.number_field :product1_id %>
  </div>
  <div class="field">
    <%= f.label :product2_id %><br>
    <%= f.number_field :product2_id %>
  </div>
  <div class="field">
    <%= f.label :product3_id %><br>
    <%= f.number_field :product3_id %>
  </div>
  <div class="field">
    <%= f.label :product4_id %><br>
    <%= f.number_field :product4_id %>
  </div>
  <div class="field">
    <%= f.label :product5_id %><br>
    <%= f.number_field :product5_id %>
  </div>
  <div class="field">
    <%= f.label :product6_id %><br>
    <%= f.number_field :product6_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
