<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :collection1_id %><br>
    <%= f.number_field :collection1_id %>
  </div>
  <div class="field">
    <%= f.label :collection2_id %><br>
    <%= f.number_field :collection2_id %>
  </div>
  <div class="field">
    <%= f.label :collection3_id %><br>
    <%= f.number_field :collection3_id %>
  </div>
  <div class="field">
    <%= f.label :collection4_id %><br>
    <%= f.number_field :collection4_id %>
  </div>
  <div class="field">
    <%= f.label :collection5_id %><br>
    <%= f.number_field :collection5_id %>
  </div>
  <div class="field">
    <%= f.label :collection6_id %><br>
    <%= f.number_field :collection6_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
