<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @product.picture %>
</p>

<p>
  <strong>Collection1:</strong>
  <%= @product.collection1_id %>
</p>

<p>
  <strong>Collection2:</strong>
  <%= @product.collection2_id %>
</p>

<p>
  <strong>Collection3:</strong>
  <%= @product.collection3_id %>
</p>

<p>
  <strong>Collection4:</strong>
  <%= @product.collection4_id %>
</p>

<p>
  <strong>Collection5:</strong>
  <%= @product.collection5_id %>
</p>

<p>
  <strong>Collection6:</strong>
  <%= @product.collection6_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
