<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
 
   
  <!-- Fixed navbar -->
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Styler</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", '' %></li>
            <li><%= link_to "Collections", '' %></li>
            <li><%= link_to "Products", '' %></li>
            <li><%= link_to "Publishers", '' %></li>
            <li><%= link_to "Tools", '' %></li>
            <li><%= link_to "About", '' %></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://www.facebook.com/damedestyle">F</a></li>
            <li><a href="http://www.twitter.com/damedestyle">T</a></li>
            <li><a href="http://www.pinterest.com/damedestyle">P</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </header>


    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
